# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
env/
venv/

# Archivos de VSCode / PyCharm
.vscode/
.idea/

# Archivos de migraciones autogenerados
*.sqlite3
db.sqlite3

# Archivos del sistema
.DS_Store
Thumbs.db
